/* header section */

body{
    margin: 60px 140px;
}
.baner{
background-image: url('../images/Banner\ Image.png');
background-size:100% 100%;
width: auto;
height: 550px;
box-shadow: inset 0px 230px 250px #070213;
border-radius: 10px;
font-family: 'Merriweather', serif;
}
.text{
    text-align: center;
    color:#fff;
    padding: 165px 100px 200px;
}
.text h2{
    font-size: 32px;
margin: 5px;
font-weight: 400;
}
.text h1{
    font-size: 70px;
    margin: 5px;
    font-weight: 700;
}
.offer{
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}
.off{
    color: red;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 40px;
}
.texts{
    font-size: 20px;
    font-weight: 500;
    color: red;
    margin: 0px;
}
.catagori{
    font-size: 45px;
    font-weight: 700;
    margin: 0px auto 48px;
}
img{
    display: block;
    margin: auto;
}
.midnight{
    background-image: url('../images/Vectorrr.png');
    background-size:100% 100%;
width: auto;
height: 550px;
border-radius: 10px;
margin-top: 120px;
box-shadow: inset 300px 0px 500px #070213;
display: flex;
justify-content: space-between;
}
.night-party{
    margin-top: 120px;
    margin-left: 120px;
}
.Welcome{
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    font-family: 'Merriweather', serif;
}
.midnight-tex{
    color:#FFFFFFCC;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin-top: 0px;
}
#button{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: none;
    color: #fff;
    background-color: #080312;
    margin: 40px 30px;
}
.time-table{
    background-color: #ffffff;
    text-align: center;
    margin-top: 120px;
    border-radius: 10px;
    height: 440px;
    width: auto;
    box-shadow: inset 0px 200px 150px #FFE7E7;
.addres{
    font-size: 30px;
    font-weight: 600;;
    font-family: 'Inter', sans-serif;
    padding: 100px 100px 0px;
    color: #070213;
}
}
.rong{
    color: red;
}
.join{
    background-color: red;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto 100px;
}
.group-celebration{
    display: flex;
    margin-top: 120px;
}
.left-side{
    padding: 100px 0px;
}
.best-offer{
    color: red;
text-align: left ;
font-size: 24px;
font-weight: 500;
font-family: 'Inter', sans-serif;
margin-bottom: 10px;
}
#coming-soon{
    color: black;
font-size: 45px;
font-weight: 800;
text-transform: capitalize;
font-family: 'Merriweather', serif;
margin: 0px;
}
.offer-text{
    columns: #66636C;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-right:60 px ;
}
.imgborder{

    border-radius: 50%;
    border: 12px solid red;
    padding: 45px;
    margin-right: 70px;
}
.heiwth{
    width: 250px;
    height: 250px;
}
#year-section{
padding-top: 100px;
}

.year{
    font-size:45px;
    color: red;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding: 0px;
    margin: 0px;
}
.year-text{
    columns: #66636C;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}
.Happy{
    float: left;
}
.portfolio-text{
    display: block;
    width: 75%;
}
.portfolio-text>h3{
    color: red;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.portfolio-text>h1{
    color: #070213;
    font-size: 45px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    margin: 10px auto;
}
.portfolio-text>p{
    color: #66636C;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
.portfolio-pic{
    display: flex;
    border-radius: 15px;

}
.portfolio-pic>img{
    width:32%;
    height: 350px;
    padding: 20px 20px;
    
}
.portfolio-pic>img:hover{
    background-color: aqua;
    transition: 2s;
    border-radius: 15px;
}